@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
    font-family: 'Outfit', sans-serif;
}

:root {
    --black-color: #23272b;
    --gray-color: #42464a;
    --white-color: #EDF2F4;
    --yellow-color: #FFB627;
    --orange-color: #FFA737;
    --blue-purple-color: #7678ED;
    --ongoing-color: #EFC69B;
    --completed-color: #68D89B;
    --github-link-color: #7678ED;
    --leetcode-link-color: #FF8552;
}
#main-container {
    display: flex;
    justify-content: center;
    align-items: center;

}
#container {
    width: 30vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    scroll-snap-type: y mandatory;
}
.container-section-page {
    display: block;
    scroll-snap-align: center;
}
#welcome-page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    background-color: var(--black-color);
}
#welcome-page-header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 4rem;
}

.section-header-text {
    font-weight: 800;
    text-transform: capitalize;
}

#welcome-page-header-text {
    color: var(--white-color);
}
#welcome-page-header-image > img{
    width: 8rem;
}
#welcome-page-body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: var(--white-color);
    border-radius: 1.5rem 1.5rem 0rem 0rem;
    position: relative;
}
.welcome-page-body {
    padding: 1rem;
}
.welcome-page-body-center {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: 100%;
}
.welcome-page-body-center-container {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-weight: 800;
    color: var(--white-color);
    background-color: var(--black-color);
    width: 100%;
    height: 100%;
    padding: 1.5rem;
    border-radius: 0.8rem;
    gap: 1rem;
}
.center-name {
    font-size: 2.5rem;
    text-transform: capitalize;
}
.center-name-name {
    font-size: 4.5rem;
}
.center-me-one, .center-me-two {
    font-size: 2.5rem;
    font-weight: 600;
    text-transform: capitalize;
}
.center-me-one {
    color: var(--blue-purple-color);
}
.center-me-two {
    color: var(--orange-color);
}
.welcome-page-body-center-container > span {
    display: block;
}
.profile-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    gap: 1rem;
}
.profile-link {
    /* padding: 0.6rem 1.2rem; */
    border-radius: 0.5rem;
}
.profile-link > a {
    text-decoration: none;
    color: var(--black-color);
    font-weight: 600;
    text-transform: capitalize;
}
.github {
    background-color: var(--github-link-color);
    padding: 0.6rem 1.2rem;
}
.leetcode {
    background-color: var(--leetcode-link-color);
    padding: 0.6rem 1.2rem;
}


#skills-page {
    height: 100vh;
    width: 100%;
    background-color: var(--white-color);
    padding-top: 4rem;
    display: grid;
    grid-template-rows: 1fr 4fr;
}
#skills-page-header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#skills-page-header-text {
    color: var(--black-color);
}
#skills-page-body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}
.skills-page-body-center {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    height: 100%;
    border-radius: 1.5rem 1.5rem 0rem 0rem;
    background-color: var(--black-color);
}
.skills-page-body-center-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
    font-weight: 800;
    color: var(--white-color);
    width: 100%;
    height: 70%;
}
.skills-page-tags-section {
    background-color: var(--gray-color);
    padding: 0.5rem;
    border-radius: 0.6rem;
}
.skill-page-tags-section-header {
    text-transform: uppercase;
    border-left: 5px solid var(--blue-purple-color);
    padding-left: 1rem;
    margin-bottom: 0.5rem;
    font-weight: 200;
    font-size: 1.2rem;
}
.skills-page-tags {
    display: inline-flex;
    background-color: var(--white-color);
    color: var(--black-color);
    font-weight: 600;
    padding: 0.5rem;
    border-radius: 0.5rem;
    width: max-content;
    margin-top: 0.2rem;
}


#projects-page {
    height: 100vh;
    width: 100%;
    background-color: var(--black-color);
    padding-top: 4rem;
}
#projects-page-header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 2rem;
}
#projects-page-header-text {
    color: var(--white-color);
}
#projects-page-body {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    height: max-content;
}
.projects-page-body-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 2rem;
    flex-direction: column;
    background-color: var(--white-color);
    width: 100%;
    padding: 1rem;
    border-radius: 1.5rem 1.5rem 0rem 0rem;
}
.projects-page-tags {
    display: inline-flex;
    background-color: var(--black-color);
    color: var(--white-color);
    font-size: 1.3rem;
    font-weight: 600;
    padding: 0.5rem;
    border-radius: 0.5rem;
    width: max-content;
    margin-top: 0.2rem;
}
.projects-body-project {
    height: 100%;
    background-color: var(--black-color);
    border-radius: 1rem;
    padding: 0.7rem;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}
.projects-body-project-image {
    margin: auto;
    width: 100%;
}
.projects-body-project-image > img {
    width: 100%;
    border-radius: 0.8rem;
}
.projects-body-project-header {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--white-color);
    text-transform: capitalize;
    margin-top: 1rem;
}
.projects-body-project-description {
    font-size: 1.2rem;
    font-weight: 300;
    color: var(--white-color);
}
.projects-body-project-info {
    display: flex;
    justify-content: space-between;
    align-items: space-between;
    flex-direction: row;
    width: 100%;
    margin-top: 2rem;
}
.projects-body-project-link > a {
    display: inline-block;
    text-decoration: none;
    background-color: var(--github-link-color);
    font-weight: 600;
    color: var(--black-color);
    padding: 0.5rem 1.5rem;
    border-radius: 100000px;
}
.projects-body-project-status {
    display: inline-block;
    text-decoration: none;
    text-transform: capitalize;
    font-weight: 600;
    padding: 0.5rem 1.5rem;
    border-radius: 0.5rem;
}
.completed {
    background-color: var(--completed-color);
    color: var(--black-color);
}
.ongoing {
    background-color: var(--ongoing-color);
    color: var(--black-color);
}
@media screen and (width > 1000px) {
    #container {
        width: 100vw;
    }
    .projects-page-body-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .skills-page-tags {
        font-size: 3vw;
    }
    .section-header-text {
        font-size: 7vw;
    }
}
@media screen and (width <= 1000px) {
    #container {
        width: 100vw;
    }
    .center-me-one, .center-me-two {
        font-size: 2.5rem;
        font-weight: 600;
        text-transform: capitalize;
    }
    .skills-page-tags {
        font-size: 4vw;
    }
    .section-header-text {
        font-size: 10vw;
    }
}
@media screen and (width < 400px) {
    .center-name {
        font-size: 1.5rem;
        text-transform: capitalize;
    }
    .center-name-name {
        font-size: 2rem;
    }
    .center-me-one, .center-me-two {
        font-size: 2.2rem;
        font-weight: 600;
        text-transform: capitalize;
    }
    #welcome-page-header-text {
        font-weight: 800;
        text-transform: capitalize;
        color: var(--white-color);
    }
    .skills-page-tags {
        font-size: 5vw;
    }
    .section-header-text {
        font-size: 13vw;
    }
    .skill-page-tags-section-header {
        font-size: 0.8rem;
    }
}